<div class="main-wrapper">
<h1>Welcome to WellnessHub!</h1>

<div class="post">
  <p>
    With WellnessHub, you can...
    <ul>
      <li>SET WELLNESS INTENTIONS FOR YOURSELF</li>
      <li>POST LINKS TO WELLNESS RESOURCES</li>
      <li>BROWSE OTHER USER'S SHARED POSTS</li>
      <li>SAVE POSTS TO YOUR LIST AND ORGANIZE THEM BY INTENTION</li>
      <li>BE WELL</li>
    </ul>
  </p>


<button><%= link_to 'Login', login_path %></button>
OR
<button><%= link_to 'Create an Account', new_user_path %></button>
</div>
</div>
