/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    background-image: url("blur-calm-close-up-268022.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: white;
  }

  input[type=text],input[type=password],input[type=url],.form textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .delete input[type=submit]{
    background-color: red;
  }

  .form input[type=submit] :hover {
    background-color: #45a049;
  }
  #categoriesLabel{display:block;margin:10px auto}
  #categories label{width:100px;display:inline-block;vertical-align: middle;}
  #categories input{left: 20px;vertical-align:middle;}
 .main-wrapper{width:600px;margin: 60px auto;background:rgba(0,0,0,0.5);padding:50px;text-align:center;border-radius: 20px;}
 .nav-bar{:margin:0px auto auto; display:block; text-align: center;position:fixed;background-color: darkSlateGrey;width:100%;padding:0;top:0}
 .nav-bar::after{content: "";
    clear: both;
    display: table;}
 .nav-bar ul {text-align: center;width:100%;justify-content:space-between;align-items:center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#user-status{float:right; padding:10px;}
.nav-bar li {
 float: left;
 background-color: darkSlateGrey;
 padding:10px;
}
ul {list-style-type:none;line-height: 2em;}
 .intention{width:100%;margin:20px auto;padding:10px;background:rgba(0,0,0,0.6);text-align:center;box-sizing: border-box;border-radius: 20px;}
 .header{width:100%; margin:50px auto 10px auto;box-sizing: border-box;text-align: center;}
 .header-intention{width:100%; margin:10px auto;box-sizing: border-box;text-align: center;display:flex;justify-content:space-between;align-items:center;}
 .user-top{width:100%; margin:0px auto; background:rgba(0,0,0,0.3);padding: 20px;
 box-sizing: border-box;text-align: center;border-radius: 20px;}
 .post{width:100%; margin:0px auto; background:rgba(0,50,50,0.8);padding: 20px;
 box-sizing: border-box;text-align: center;border-radius: 20px;}
 .post-title{margin:10px auto;}
 .post-comment{margin:10px;}

 .post-save{margin-top:20px;display:none;}
 .post-button{margin-top:20px;}
 .show {margin-top:20px;display:block;}

 .post-button{margin-top:20px;}
 .top-header{margin:20px 20px 50px 20px; text-align:center;}
a {text-decoration: none;color:peachPuff;}

button {
  background: darkSlateGrey;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);
  margin: 5px 50px;
  color: black;
  padding: 5px;
  border-radius: 15px;
  font-size: 0.8em;}

input[type=submit] {
  margin:5px
}

.savebutton {
  color: peachPuff;
  margin: 10px;
}
